body {
  font-family: "Roboto";
  font-size: 16px;
  color: black;
}
*:focus {
  outline: -webkit-focus-ring-color auto 0px !important;
}
header {
  background-color: white;
}
.header-top {
  margin-top: 10px;
  border-bottom: 1px solid #d4d4d4;
  padding-bottom: 10px;
}
.header-left {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.header-left a {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #555454;
}
.header-right {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.header-right img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.header-right span {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.header-right a {
  text-decoration: none;
}
.header-right button {
  background: none;
  border: none;
}
.header-right .cart .cart-count {
  margin-left: 5px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: #999999;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  color: white;
}
.header-main .navbar .row {
  width: 100%;
}
.header-main .navbar .row .logo {
  padding-right: 15px;
}
.header-main .navbar .row .logo .navbar-brand {
  left: 0;
}
.header-main .navbar .row .logo .navbar-brand img {
  width: 66px;
}
.header-main .navbar .row .collapse {
  margin-right: -30px;
}
.header-main .navbar .row .collapse .navbar-nav {
  width: 100%;
  margin-top: 68px;
}
.header-main .navbar .row .collapse .navbar-nav .nav-item .dropdown-menu-left {
  margin-left: -150px;
}
.header-main .navbar .row .collapse .navbar-nav .nav-item a.dropdown-item:focus {
  background-color: #FF01EA !important;
}
.header-main .navbar .row .collapse .block-search {
  position: absolute;
  padding-bottom: 30px;
  padding-left: 10px;
  width: 60%;
}
.header-main .navbar .row .collapse .block-search .form-control {
  width: 70%;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
}
.header-main .navbar .row .collapse .block-search .form-inline .form-control {
  border: 1px solid gray;
  transition: all 0.1s ease-in;
}
.header-main .navbar .row .collapse .block-search .form-inline .form-control:focus {
  box-shadow: hotpink 0px 0px 5px;
}
.header-main .navbar .row .collapse .block-search .form-inline .btn {
  color: #FF01EA;
  border: #FF01EA 1px solid;
  transition: all 0.1s ease-in;
}
.header-main .navbar .row .collapse .block-search .form-inline .btn:hover {
  background-color: #FF01EA;
  color: white;
}
.swiper-container {
  width: 60%;
}
.swiper-container .swiper-pagination-bullet {
  background-color: white;
}
.swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-container .swiper-slide img {
  width: 100%;
}
.block-banner {
  width: 20%;
  height: 100%;
  border: hotpink 1px solid;
}
