body {
   font-family: "Roboto";
   font-size: 16px;
   color: black;
}

*:focus {
   outline: -webkit-focus-ring-color auto 0px !important;
}

header {
   background-color: white;

}

.header-top {
   margin-top: 10px;
   border-bottom: 1px solid rgb(212, 212, 212);
   padding-bottom: 10px;
}

.header-left {
   width: 40%;
   display: flex;
   justify-content: space-between;

   a {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 12px;
      color: #555454;
   }
}

.header-right {
   width: 50%;
   display: flex;
   justify-content: space-between;

   img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
   }

   span {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
   }

   a {
      text-decoration: none;
   }

   button {
      background: none;
      border: none;
   }

   .cart {
      .cart-count {
         margin-left: 5px;
         width: 20px;
         height: 20px;
         display: inline-block;
         background: #999999;
         border-radius: 50%;
         text-align: center;
         line-height: 20px;
         color: white;
      }
   }
}

.navbar {}

.header-main {
   .navbar {
      .row {
         width: 100%;

         .logo {
            padding-right: 15px;

            .navbar-brand {
               left: 0;

               img {
                  width: 66px;
               }
            }
         }



         .collapse {
            margin-right: -30px;

            .navbar-nav {
               width: 100%;
               margin-top: 68px;

               .nav-item {
                  .dropdown-menu-left {
                     margin-left: -150px;
                     // position: initial;
                  }

                  a.dropdown-item {
                     // &:hover {
                     //    color: pink !important;
                     // }

                     &:focus {
                        background-color: #FF01EA !important;
                     }
                  }
               }
            }
         }
      }


   }

}